*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.card{
    height: 470px;
    width: 350px;
    background-color: rgb(149, 163, 163); 
    border-radius: 8px;
    margin: 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.card:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.card-image{
    height: 250px;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    background-image: url(./dumbbell-icon-in-circle-gym-activity-icon-in-trendy-flat-style-stock-vector-illustration-isolated-on-white-background-2D6PTFR.jpg);
    overflow: auto;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 20px 1px rgb(202, 202, 202)
   
   
}

.card-image img{
}
.card-details{
    height: 220px;
    width: 350px;
    background-color: rgb(248, 244, 244);
    border-radius: 0px 0px 8px 8px;
    box-shadow: 1px 1px 20px 1px rgb(202, 202, 202)
}
h1{
margin-left: 20px;
padding-top: 10px;
}
h3{
margin-left: 20px;
padding-top: 10px;
}
p{
margin-left: 20px;
padding-top: 10px;
}
h4{
    margin-left: 20px;
    padding-top: 10px;
}
button{
    margin:20px;
    padding: 12px 60px; 
    position: relative;
    left: 20%; 
    border-radius: 10px;
    border: none;
    background-color: rgb(45, 33, 33);
    color: white;
    font-size: 15px;
   
    
}
button:hover{
    cursor: pointer;
   /* transform: scale(1.02) ; */
   color:red;
   box-shadow: 1px 1px 10px 1px black;
}

